<div class="login-wrapper">
  <!-- <div class="login-image">
    <img src="assets/image_project.png" alt="Logo" />
  </div> -->

  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        required
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />

      <select name="role" [(ngModel)]="role" required>
        <option value="">Select Role</option>
        <option value="admin">Admin</option>
        <option value="investigator">Investigator</option>
        <option value="user">User</option>
      </select>

      <button type="submit">Login</button>
    </form>
    <!-- Register link -->
     <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </div>
</div>
