<nav  *ngIf= "showNavbar" class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand mx-3" routerLink="/">Biotrack</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/protocol" routerLinkActive="active">Protocol Design</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/enrollment" routerLinkActive="active">Enrollment & Consent</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/data-capture" routerLinkActive="active">Data Capture</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/compliance/audit-log" routerLinkActive="active">Compliance & Audit</a>
        </li>

        <li class="nav-item ms-4">
          <div class="analytics-pill-box">
            <span class="pill-label">Insights:</span>
            <a class="pill-item" routerLink="analytics/researcher" routerLinkActive="pill-active">Researcher</a>
            <a class="pill-item" routerLink="analytics/admin" routerLinkActive="pill-active">Admin</a>
            <a class="pill-item" routerLink="/analytics/reports" routerLinkActive="pill-active">Reports</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>