<h2>Participants</h2>

<input 
  type="text" 
  placeholder="Search by ID or Name" 
  [(ngModel)]="searchTerm" 
  class="search-bar"
/>

<div *ngIf="loading">Loading participants...</div>

<table *ngIf="filteredParticipants.length > 0" class="participant-table">
  <thead>
    <tr>
      <th>Participant ID</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Contact</th>
      <th>Eligibility</th>
      <th>Enrollment Status</th>
      <th>Protocol</th>
      <!-- <th>Latest Consent</th>  -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredParticipants">
      <td>{{ p.participantId }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.dob }}</td>
      <td>{{ p.contactInfo }}</td>
      <td>{{ p.eligibilityStatus }}</td>
      <td>{{ p.enrollmentStatus }}</td>
      <td>{{ getProtocolTitle(p.protocolId) }}</td>
      <!-- <td>
        <span *ngIf="p.latestConsent">
        {{ p.latestConsent.status }} ({{ p.latestConsent.signedDate | date:'shortDate' }})
        </span>
        <span *ngIf="!p.latestConsent">No consent</span>
      </td>  -->
      <td>
        <button (click)="manageConsent(p.participantId)">Manage Consent</button>
        <button (click)="delete(p.participantId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loading && participants.length === 0">
  No participants found.
</div>

<button (click)="create()" class="create-btn">➕ Add New Participant</button>
