

.footer-custom {
  background-color: #45526e;
  padding: 0.4rem 0;        /* smaller height */
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}

.footer-custom h6 {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.footer-custom p, 
.footer-custom li, 
.footer-custom .small {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

.footer-custom a {
  color: #ddd;
  text-decoration: none;
}
.footer-custom a:hover {
  text-decoration: underline;
}
.footer-custom .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}